body {
    margin:0;
    padding:0;
}

.can{
    position:fixed;
    background-color: rgb(17, 17, 17);
}

.atCan{
    position: fixed;
    top: 35%;
}

.menuButtons{
    position: fixed;
    font-size:100px;
    top:50%;
    width:50%;
    height:30%;
}

.grid-container{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
}

.grid-item{
    padding: 20px;
    font-size: 50px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.bC {
    position: absolute;
    background-color: bisque;
    touch-action: none;
    z-index: 1;
}

.can {
    border: solid;
    /*background-color: aquamarine;*/
    touch-action: none;
    position:relative;
    z-index: 2;
}


.bar {
    position: relative;
    width: 100px;
    height: 10px;
    z-index: 2;
}

.hbar{
    background-color: red;
}

.mbar {
    background-color: blue;
}